body {
    background-color: #c0c0ff;
}

.canvas-wrap {
    /*overflow:auto;
    resize:both;*/
}

#canvas {
    background-color: white;
    border: solid 1px black;
    /*width: 95%;
    height: 95%;*/
}